<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>failRegister</title>
</head>
<body>
    <h1>Fail Register</h1>

    <a href="/register"><button>VOLVER</button></a>
    
    </body>
</html>