<h1>Mostrando mensajes desde la plantilla</h1>

<form id="chatForm">
    <div>
       
        <div>
           Usuario: 
            <p id="username"> <%= user %></p>
        </div>

        <div id="chatPool"></div>

        <div>
            Mensaje <input type="text" name="mensajeInput" id="mensajeInput">
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </div>
</form>

